.FullHeaderPage {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-repeat: no-repeat;
	background-size: 100% 176px;
}

.FullHeaderPage h1 {
	text-align: center;
	margin-bottom: 20px;
}

.FullHeaderPage .slogan {
	margin-right: 20px;
	font-family: "Hind", sans-serif;
	font-weight: 500;
	font-size: 24px;
	line-height: 32px;
	color: #46d16d;
}

.slogan {
	padding-left: 20px;
}
