.SplashPage,
.SplashPage .panel {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}

.SplashPage button,
.SplashPage p {
	margin-bottom: 24px;
}

.SplashPage p {
	margin-top: 40px;
}
