@use "../../scss/variables" as v;

.SplashPage {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	padding-left: 20px;
	padding-right: 20px;
}

@media screen and (min-width: v.$first-break-point) {
	.SplashPage {
		max-width: v.$panel-content-max-width;
		margin: auto;
	}
}

.SplashPage .cta,
.SplashPage p {
	margin-bottom: 24px;
}

.SplashPage p {
	margin-top: 40px;
}

.SplashPage .demo {
	text-align: center;
}

.SplashPage .credentials {
	display: block;
	margin-top: 8px;
}
