.SearchBar {
	display: flex;
}

.SearchBar input {
	flex: 1;
	padding-right: 50px;
	box-sizing: content-box;
}

.SearchBar button {
	width: 50px;
	margin-left: -54px;
	margin-top: 3px;
	padding: 0;
	background-color: transparent;
	border: none;
}
