@use "../../../scss/variables" as v;

.SearchBar {
	display: flex;
	flex-direction: column;
}

.SearchBar .bar {
	flex: 1;
	display: flex;
}

.SearchBar input {
	flex: 1;
	padding-right: 50px;
	box-sizing: content-box;
	margin-bottom: 8px;
}

.SearchBar button {
	width: v.$std-from-elem-height;
	height: v.$std-from-elem-height;
	margin-left: -54px;
	margin-top: 3px;
	padding: 0;
	background-color: transparent;
	border: none;
}
