.SearchBar {
	display: flex;
}

.SearchBar input {
	flex: 1;
	padding-right: 50px;
	box-sizing: content-box;
	margin-bottom: 8px;
}

.SearchBar button {
	width: 50px;
	margin-left: -54px;
	margin-top: 3px;
	padding: 0;
	background-color: transparent;
	border: none;
}

.SearchBar .val-error {
	margin-bottom: 12px;
	height: 12px;

	font-family: Sofia Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 12px;
	color: #000000;
}
