@use "../../scss/variables" as v;

.NavBar {
	display: flex;
}

.NavBar a {
	flex: 1;
	text-align: center;
	padding: 12.5px;
}

@media screen and (min-width: v.$first-break-point) {
	.NavBar {
		height: 100%;
		flex-direction: column;
		align-items: start;
	}

	.NavBar a {
		flex-grow: 0;
	}
}

.NavBar figcaption {
	font-family: "Hind", sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 0.44rem;
	line-height: 0.61rem;
}
