@use "../../scss/variables" as v;

.Login {
	display: flex;
	flex-direction: column;
	margin-left: v.$gutter;
	margin-right: v.$gutter;
}

.Login input,
.Login button {
	height: v.$std-from-elem-height;
}

.Login input {
	margin-bottom: 8px;
}

.Login button {
	margin-bottom: 24px;
}

.Login .credentials {
	display: block;
	margin-bottom: 4px;
}

.Login h2 {
	margin-bottom: 8px;

	font-family: "Hind", sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 32px;
	text-align: center;

	color: #000000;
}
