$primary-font: "Poppins";
$secondary-font: "Hide", sans-serif;

$de-emphasis-color: #a9a7a7;
$positive-color: #008000;
$negative-color: #ff0000;
$accent-color: #51ff82;
$loading-bg-color: #06497e;

$gutter: 20px;
$std-from-elem-height: 50px;

$first-break-point: 600px;
$blw-first-break-point: 599px;

$panel-content-max-width: 515px;
