.ZtockHeader {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-repeat: no-repeat;
	background-size: 100%;
}

.ZtockHeader h1 {
	text-align: center;
	margin-bottom: 20px;
}

.ZtockHeader p {
	font-family: "hind";
	font-weight: 500;
	font-size: 24px;
	line-height: 32px;
	color: #46d16d;
}
